# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/logs


*.pkl
*.png

data_backup

*.bin
word_embeddings.bin 

*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.tpc
*.out
*.toc
*.bbl
*.blg
